@import url(https://fonts.bunny.net/css?family=bebas-neue:400|montserrat:300,300i,600,600i,900,900i|playfair-display:400,400i,600,600i,900,900i);

/** Variables **/
:root {

    /* colors */
    --artivism-red: #ff006e;
    --artivism-orange: #ff7a00;
    --artivism-yellow: #ffc629;
    --artivism-teal: rgb(0, 179, 164);
    --artivism-blue: #0066ff;
    --artivism-purple: #9b4dff;
    --artivism-black: #111;
    --artivism-dark-gray: #1a1a1a;
    --artivism-medium-gray: #2e2e2e;
    --artivism-offwhite: #f5f1e6;

    /* fonts */
    --artivism-headings: 'Bebas Neue', display;
    --artivism-subheadings: 'Playfair Display', serif;
    --artivism-text: 'Montserrat', sans-serif;


}


* {
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
}

body {
    background-color: var(--artivism-black);
    background-image: url('assets/brush-bg.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    color: var(--artivism-offwhite);
    font: 20px/1.75 var(--artivism-text);
    max-width: 1400px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}


.eyebrow {
    margin-bottom:0;
    display:block;
    font-style: normal;
}

.eyebrow a::before {
    content: "// ";
}
.eyebrow a:link,
.eyebrow a:visited {
    color: var(--artivism-teal);
    text-decoration:none;
}

.eyebrow a:hover,
.eyebrow a:focus,
.eyebrow a:active {
    color: white;
}


.eyebrow + h1 {
    margin-top:0;
}

#banner {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

#banner p,
#banner nav {
    color: white;
    font-size:20px;
    width: fit-content;
    display:flex;
    margin:0;
}

#banner nav a + a:before {
    content: "// ";
    color: rgba(0, 179, 164, 0.5);
    padding: 0 1rem;
}

#banner nav a:link,
#banner nav a:visited {
    color: white;
    text-decoration:none;
}

#banner nav a:hover,
#banner nav a:focus {
    color: var(--artivism-teal);
}

#main {
    padding: 2rem;
}

#main h1 {
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 900;
    line-height: 1;
}

#introduction {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4rem;
    padding: 0;
}

#provocation h1 {
    font-family: var(--artivism-headings);
    font-weight: 900;
    line-height: 0.75;
    font-size: 24vi;
    color: var(--artivism-teal);
    margin-top:0;
    margin-bottom:0;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: space-around;
    justify-content: space-between;
}

#provocation em {
    font-style: normal;
    display: block;
    margin:0;
}

#provocation em:first-child {
    color: var(--artivism-red);
}

#provocation em:last-child {
    color: var(--artivism-yellow);
}

#summary {
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;

}

#summary p {
    margin:0;
}

#exhibitions {
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
}

#exhibitions h2 {
    margin-bottom:0;
    line-height:1;
}

#exhibitions a {
    background-color: var(--artivism-teal);
    background-position: 120% 0;
    background-repeat: no-repeat;
    color: white;
    flex: 1;
    display:block;
    text-decoration:none;
    padding: 1rem;
    background-size: contain;
    font-size:90%;
}

#exhibitions #raíces-de-una-argentina-afro {
    background-image: url('/assets/gabymessina-linkbg.png');
}

#exhibitions #pura-diversidad {
    background-image: url('/assets/mirtatoledo-linkbg.png');
}

#exhibitions a {
    transition: all 0.3s ease;
}

#exhibitions a:link,
#exhibitions a:visited {

}

#exhibitions a:hover,
#exhibitions a:focus,
#exhibitions a:active{
    transform: translateY(-1rem);
    box-shadow: 10px 10px 0 rgba(0, 179, 164, 0.5);
}


.exhibition .artist {
    font-size: 3rem;
}

.exhibition .date-time {
    font-weight: 600;
    color: var(--artivism-orange);
    font-size:2rem;
}

.exhibition .content {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
}

.exhibition .content > div {
    flex: 2 1 0;
}

.exhibition .events {
    border-top: 2px solid var(--artivism-teal);
    margin-top: 4rem;
}

.exhibition .event + .event {
    border-top: 1px solid rgba(255,255,255,0.125);
}

.exhibition .event h2 {
    margin-top:0;
}

.exhibition .event .eyebrow {
    margin-bottom:0;
    color: var(--artivism-orange);
}


@media screen and (min-width: 600px) {
    #introduction {
        gap: 2rem;
    }
    #provocation {
        padding-right: 2rem;
    }

}

@media screen and (min-width: 900px) {

    #banner {
        flex-direction: row;
    }

    #main h1 {
        font-size: 6vi;
    }

    #introduction,
    .exhibition .content {
        flex-direction: row;
        gap: 2rem;
    }

    #provocation {
        border-right: 1px solid rgba(255,255,255,0.5);
        padding-right: 4rem;
    }

    #provocation h1 {
        font-size: 12vi;
    }
}