---
layout: default
---

<article class="exhibition h-event">
    <header>
        <em class="eyebrow"><a href="{{ site.baseurl }}/exhibitions">Exhibitions</a></em>
        <h1 class="p-name">{{ page.title }}</h1>
        <p class="artist">{{ page.artist }}</p>
        <p class="date-time"><span class="dt-start">{{ page.date-start | date: "%B %-d, %Y" }}</span>—<span class="dt-end">{{ page.date-end | date: "%B %-d, %Y"}}</span></p>
    </header>
    <div class="content p-summary">
        <div class="exhibition-description">
            {{ content }}
        <div class="events">
            {% for event in page.events %}
            <div class="event">
                <p class="eyebrow"><span class="date">{{ event.date | date: "%B %-d, %Y" }}</span>{% if event.time %} · <span class="time">{{ event.time }}</span>{% endif %}</p>
                <h2>{{ event.title }}</h2>
                <p class="p-summary">{{ event.description }}</p>
            </div>
            {% endfor %}
        </div>
        </div>
        {% if page.image %}
        <div class="exhibition-image">
            <img src="{{ site.baseurl }}/assets/{{ page.image }}" alt="">
        </div>
        {% endif %}
    </div>
</article>